.header {
  display: flex;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 300px;
  height: 70px;
  margin: 0 auto;
  border-radius: 0px 0px 40px 40px;
  background: var(--white-color);
  z-index: 10;
}

.header__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 14px;
}

.header__title span {
  font-family: 'Noto Color Emoji', sans-serif;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

.header__title p {
  display: block;
  font-size: 28px;
  line-height: 1;
  font-weight: 700;
  color: var(--blue-color);
  position: relative;
  top: -3px;
}
