.footer {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 0px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: calc(100% - 40px);
  max-width: 660px;
  transform: translate(-50%, 0%);
  border-radius: 24px 24px 0px 0px;
  height: 70px;
  margin: 0 auto;
  background: #fff;
  z-index: 10;
}

.footer p {
  display: block;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  color: #14699b;
  position: relative;
  top: -2px;
}

/*MOBIL VERSION*/
@media screen and (max-width: 767px) {
  .footer {
    max-width: 374px;
  }
  .footer p {
    font-size: 16px;
    top: -1px;
  }
}
