@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

ul,
ol,
menu {
  list-style: none;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
